<div class="container">
  <div #title class="title">
    <h1>Entre em contato!</h1>
    <p>Se interessou pelos meus serviços? <span>Entre em contato comigo!</span><br>Juntos criaremos algo extraordinário.</p>
  </div>

  <div class="contact-options">
    <p #title >Entre em contato comigo via:</p>
    <div class="socials-options">
      <a #social href="https://www.linkedin.com/in/aglis-bernardino-da-silva/" target="_blank">
        <lucide-icon name="linkedin" [size]="30"></lucide-icon>
        LinkedIn
      </a>
      <a #social href="mailto:aglissilva17@gmail.com" target="_blank">
        <lucide-icon name="send" [size]="30"></lucide-icon>
        E-mail
      </a>
      <a #social href="https://www.instagram.com/aglis_silvaa/" target="_blank">
        <lucide-icon name="instagram" [size]="30"></lucide-icon>
        Instagram
      </a>
    </div>
  </div>
</div>
