<div class="container">
  <div class="title">
    <h1>Entre em contato!</h1>
    <p>Se interessou pelos meus serviços? <span>Entre em contato comigo!</span><br>Juntos criaremos algo extraordinário.</p>
  </div>

  <div class="contact-options">
    <p>Entre em contato comigo via:</p>
    <div class="socials-options">
      <a href="https://www.linkedin.com/in/bruno-oliveira-4b1b3b1b/" target="_blank">
        <lucide-icon name="linkedin" [size]="30"></lucide-icon>
        LinkedIn
      </a>
      <a href="">
        <lucide-icon name="send" [size]="30"></lucide-icon>
        E-mail
      </a>
      <a href="">
        <lucide-icon name="instagram" [size]="30"></lucide-icon>
        Instagram
      </a>
    </div>
  </div>
</div>
