<div class="container">
  <div class="content">
    <div class="left-wrapper">
      <div class="title">
        <h1>Sobre mim</h1>
        <p>TL;DR</p>
      </div>
      <ul>
        <li>
          <span>Localização:</span>
          <p>Fortaleza, CE</p>
        </li>
        <li>
          <span>Idade:</span>
          <p>19 anos</p>
        </li>
        <li>
          <span>Formação:</span>
          <p>Ciência da Computação(4/8)</p>
        </li>
        <li>
          <span>Cargo:</span>
          <p>Desenvolvedor Front-end</p>
        </li>
        <li>
          <span>Stacks principais:</span>
          <p>Angular, Typescript, Javascript, Sass, React, Next.Js, Tailwind, HTML, CSS</p>
        </li>
      </ul>
    </div>
    <div class="right-wrapper">
      <div class="details">
        <div class="links">
          <a href="">
            <lucide-icon name="chevron-right" [size]="25"></lucide-icon>
            <p>inicio</p>
          </a>
          <a href="">
            <lucide-icon name="chevron-right" [size]="25"></lucide-icon>
            <p>tecnologias</p>
          </a>
          <a href="">
            <lucide-icon name="chevron-right" [size]="25"></lucide-icon>
            <p>projetos</p>
          </a>
          <a href="">
            <lucide-icon name="chevron-right" [size]="25"></lucide-icon>
            <p>contato</p>
          </a>
        </div>
        <span>©️ Copyrigth 2024.<br>Aglis Silva - Todos os direitos reservados</span>
      </div>
    </div>
  </div>

</div>
