@import "../../../variables.scss";

:host {
  display: block;
  width: 100%;
  position: fixed;
  z-index: 5;
  transition: 0.3s;
  &.shadow {
    header {
      padding: 2rem 40px;
      background-color: $black-secondary;
      border-radius: 100px;
    }
  }
  header {
    @include max-width-1520;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 24px;
    transition: 0.3s;
    nav {
      display: flex;
      align-items: center;
      gap: 40px;
      a {
        font-size: 1.3rem;
        button {
          width: 150px;
          height: 40px;
          border-radius: 20px;
          cursor: pointer;
        }
      }
    }

    .toggle-menu,
    .menu {
      display: none;
    }
  }
}

@media screen and (max-width: 1100px) {
  :host {
    header {
      position: relative;
      .logo {
        padding-top: 5px;
      }
      nav {
        display: none;
      }

      .toggle-menu {
        display: block;
        cursor: pointer;
        transition: 0.3s;
        lucide-icon {
          width: 40px;
          height: 40px;
          border-radius: 5px;
          background-color: $white-primary;
          color: $black-color;
          display: none;
          &.active {
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }

      .menu {
        display: block;
        position: absolute;
        display: flex;
        justify-content: center;
        align-self: center;
        flex-direction: column;
        gap: 40px;
        top: 0;
        left: 0;
        height: 100vh;
        width: 300px;
        background-color: $black-secondary;

        a {
          padding: 0 2rem;
        }
        a,
        button {
          text-transform: uppercase;
          font-size: 1.6rem;
        }
        button {
          background-color: transparent;
          color: $white-primary;
        }
        &.active {
          -webkit-animation: slide-right 0.3s
            cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
          animation: slide-right 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)
            forwards;
        }

        &:not(.active) {
          // display: none;
          -webkit-animation: slide-left 0.3s
            cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
          animation: slide-left 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)
            forwards;
        }
      }
    }
  }
}

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
