<section class="container">
  <div #leftWrapper class="left-wrapper">
    <h1>Olá,<br>Eu sou o Aglis!</h1>
    @for(skill of arraySkills; track $index) {
      <p class="skill">{{ skill }}</p>
    }
    <p>Sou desenvolvedor frontend há mais de um ano, apaixonado por criar interfaces de usuário intuitivas e responsivas.</p>
    <button>Ver meus projetos</button>
  </div>
  <div #rightWrapper class="right-wrapper">
    @for(item of arrayProjects; track $index) {
      <div class="project-image">
        <img [src]="item" alt=""  loading="eager">
      </div>
    }
  </div>
  <img src="images/scroll-down.gif" alt="" class="scroll-down">
</section>
