<div class="container">
  <div class="text-wrapper">
    <h1>Projetos</h1>
    <p>Confira abaixo alguns projetos que eu desenvolvi!</p>
  </div>

  <div class="projects-container">
    <div class="blur-area"></div>
      <div class="projects">
        @for(item of arrayProjects; track $index) {
          <div class="project" (click)="setModalImg(item.imgURL)">
            <div class="techs">
              <p>{{ item.usedSkills }}</p>
            </div>
            <img [src]="item.imgURL" alt="" loading="eager">
            <div class="footer">
              <p>{{ item.title }}</p>
              <p>{{ item.finishedDate}}</p>
            </div>
          </div>
        }
      </div>
      <div class="projects">
        @for(item of arrayProjects; track $index) {
          <div class="project" (click)="setModalImg(item.imgURL)">
            <div class="techs">
              <p>{{ item.usedSkills }}</p>
            </div>
            <img [src]="item.imgURL" alt="" loading="eager">
            <div class="footer">
              <p>{{ item.title }}</p>
              <p>{{ item.finishedDate}}</p>
            </div>
          </div>
        }
      </div>
  </div>
</div>
