<div class="container">
  <div #title class="title">
    <h1>Experiências</h1>
    <p class="pos-title">Abaixo você encontra todas as minhas experiências na área da tecnologia</p>
  </div>
  <div class="experiences-container">
    @for(experience of arrayExperiences; track $index) {
      @if($index % 2 === 0) {
        <div #cardRight class="experience reverse">
            <h3>{{ experience.company }}</h3>
            <p class="role">{{ experience.role }}</p>
            <p class="date">{{ experience.date }}</p>
            <p class="description">{{ experience.description }}</p>
        </div>
      }
    }
    <div class="line-gradient"></div>
    @for(experience of arrayExperiences; track $index) {
      @if($index % 2 !== 0) {
        <div #cardLeft class="experience">
          <h3>{{ experience.company }}</h3>
          <p class="role">{{ experience.role }}</p>
          <p class="date">{{ experience.date }}</p>
          <p class="description">{{ experience.description }}</p>
        </div>
      }
    }
  </div>
</div>
