@import "../../../variables.scss";

.container {
  @include max-width-1520;
  flex-direction: column;
  padding-top: 12rem;
  padding-bottom: 4rem;
  overflow: hidden;
  //animation
  .title {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(50%);
    transition: 1s;
    transition-property: opacity, filter, transform;

    &.show-top {
      opacity: 1;
      filter: blur(0);
      transform: translateY(0);
    }
  }

  h1 {
    font-size: 5rem;
    padding-bottom: 1rem;
    @media screen and (max-width: 500px) {
      font-size: 4rem;
    }
  }
  .pos-title {
    font-size: 1.2rem;
    font-weight: 500;
    padding-bottom: 4rem;
    @media screen and (max-width: 500px) {
      font-size: 1.1rem;
    }
  }

  .experiences-container {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 50px;
    @media screen and (max-width: 500px) {
      gap: 30px;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      width: 2px;
      height: 100%;
      background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(144, 145, 152, 1) 50%,
        rgba(39, 39, 45, 1) 100%
      );
    }

    .experience {
      width: 45%;

      //animation
      opacity: 0;
      filter: blur(5px);
      transition: 1s;
      transition-property: opacity, filter, transform;
      &.reverse {
        align-self: flex-end;
        transform: translateX(100%);
        &.show-right {
          opacity: 1;
          transform: translateX(0);
          filter: blur(0);
        }
      }
      &:not(.reverse) {
        transform: translateX(-100%);
        &.show-left {
          opacity: 1;
          transform: translateX(0);
          filter: blur(0);
        }
      }

      &:nth-child(2) {
        transition-delay: 400ms;
      }

      h3 {
        font-size: 1.4rem;
        font-weight: 700;
        margin-bottom: 0.5rem;
      }

      p {
        &.role {
          font-size: 1.2rem;
          font-weight: 500;
          margin-bottom: 0.8rem;
          color: $gray-secondary;
        }
        &.date {
          font-size: 1rem;
          font-weight: 600;
          margin-bottom: 1rem;
        }
        &.description {
          font-size: 1.1rem;
          font-weight: 400;
          line-height: 1.3rem;
        }
      }
    }
  }
}
