@import "../../../variables.scss";
:host {
  display: block;
  padding-top: 10rem;
  .container {
    @include max-width-1520;
    box-sizing: border-box;
    flex-direction: column;
    border-radius: 20px;
    padding: 2rem 24px;
    h1 {
      text-align: center;
      font-size: 4.5rem;
      padding-bottom: 30px;

      opacity: 0;
      filter: blur(5px);
      transform: translateX(-100%);
      transition: 1s;
      transition-property: transform, filter;
      &.show-left {
        opacity: 1;
        filter: blur(0);
        transform: translateX(0);
      }
    }

    .area {
      //animation
      opacity: 0;
      transform: translateY(50%);
      transition: 1s;
      transition-property: transform, filter, opacity;
      &.show-top {
        opacity: 1;
        transform: translateY(0);
      }
      &:nth-child(2) {
        transition-delay: 100ms;
      }
      &:nth-child(3) {
        transition-delay: 200ms;
      }
    }

    .skills-container {
      max-width: 1400px;
      display: flex;
      margin: 0 auto;
      flex-direction: column;
      gap: 30px;

      .area {
        h3 {
          font-weight: 400;
          text-transform: uppercase;
          font-size: 1.4rem;
          padding-bottom: 20px;
        }
        .skills {
          display: flex;
          flex-wrap: wrap;
          gap: 10px;
          @media screen and (max-width: 850px) {
            display: grid;
            grid-template-columns: repeat(3, minmax(0, 1fr));
            row-gap: 0.5rem;
            column-gap: 0.5rem;
          }
          @media screen and (max-width: 600px) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
          }
          .skill {
            display: flex;
            align-items: center;
            padding: 5px 10px;
            border-radius: 10px;
            gap: 15px;
            width: 180px;
            background-color: $black-secondary;
            @media screen and (max-width: 520px) {
              width: auto;
              padding: 5px 20px;
            }
            span {
              font-size: 1.1rem;
              font-weight: 600;
              color: $white-primary;
              @media screen and (max-width: 520px) {
                font-size: 1rem;
              }
            }

            .img {
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 5px;
              width: 45px;
              height: 45px;
              // background-color: $black-color;
              img {
                width: 35px;
                height: 35px;
                @media screen and (max-width: 520px) {
                  width: 30px;
                  height: 30px;
                }
              }

              @media screen and (max-width: 520px) {
                width: 40px;
                height: 40px;
              }
            }
          }
        }
      }
    }
  }
}
